name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "master" branch
  push:
    branches: [ "master" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  
# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  run-playbooks:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - name: run deploy
        id: run_deploy
        shell: bash
        run: |
         cd scripts
         chmod u+x ./deploy.sh
         ./deploy.sh
      - name: auswerten
        run: |
           echo "Der Name war: ${{ steps.run_deploy.outputs.VORNAME }}"
